[submodule "git"]
	path = git
	url = https://github.com/Utilitron9000/utilitron_protos
[submodule "utilitron_protos"]
	path = utilitron_protos
	url = https://github.com/Utilitron9000/utilitron_protos.git
